.Chat{
    width: 300px;
    height: 300px;
}

.chatbox{
    font-size: 14px;
    background-color: #fffd82;
    border-radius: 10px;
    margin: 15px;
    padding: 5px;
    max-width: 60%;
}

.buttons{
    display: block;
    margin-top: 5px;
}

button:first-child{
    margin-right: 5px;
}