.Chat{
    display: flex;
    flex-direction: column;
    width: 313px;
    height: 240px;
    overflow-y: scroll;
}

.chatbox{
    position: relative;
    font-size: 14px;
    background-color: #fffd82;
    border-radius: 10px 10px 10px 5px;
    margin: 15px;
    padding: 5px;
    max-width: 60%;
    width: fit-content;
}
.chatbox::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 5px;
    border-width: 7px;
    border-style: solid;
    border-color: #fffd82 transparent transparent transparent;
  }

.user-chatbox{
    position: relative;
    align-self: flex-end;
    font-size: 14px;
    background-color: #1A3956;
    color: white;
    border-radius: 10px 10px 5px 10px;
    margin: 15px;
    padding: 5px;
    max-width: 60%;
    width: fit-content;
}

.user-chatbox::before {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    right: 5px;
    border-width: 7px;
    border-style: solid;
    border-color: #1A3956 transparent transparent transparent;
  }

.buttons{
    display: block;
    margin-top: 5px;
}

button:first-child{
    margin-right: 5px;
}