.category{
    border-bottom: 1px solid grey;
    cursor: pointer;
    margin: 10px;
}

.category:last-child{
    border: none;
}

.title{
    margin: 10px;
    font-size: 14px;
}
button{
    color: slateblue;
    background-color: white;
    border-radius: 4px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}