.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(44,41,41,.85);
    border-radius: 10px;
    color: black;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 10px;
    background: white;
    padding: 10px;
    max-width: 700px;
    font-size: 14px;
}

.message div{
    padding: 10px;
}

.disclaimer{
    font-size: 8px;
}

.message input{
    border: none;
}

img{
    width: 150px;
    height: 200px;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8416 13.7857L4.47174 5.18499M4.47193 13.7858L12.8417 5.185' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.close:hover{
    background-image: url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8416 13.7857L4.47174 5.18499M4.47193 13.7858L12.8417 5.185' stroke='%232F751C' stroke-width='2'/%3E%3C/svg%3E%0A");
}

button{
    padding: 5px 10px;
    box-shadow: none;
    background-color: transparent;
    color: #2F751C;
    border-radius: 20px;
    border: 1px solid #2F751C;
    font-weight: 700;
}

button:hover{
    background-color: #2F751C;
    color: white;
}

button:focus{
    outline: none;
}

@media screen and (min-width: 425px){
    .message{
        flex-direction: initial;
        align-items: initial;
    }
}