.container{
    margin: 20px;
    border-radius: 10px;
    color: black;
    background-color: white;
}

.header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ebc934;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    font-size: 14px;
}

.header button{
    position: absolute;
    border: none;
    top: 5px;
    right: 5px;
    width: 13px;
    height: 13px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.44675 9.52385L3.86674 3.79M3.86691 9.52388L9.44678 3.79004' stroke='black'/%3E%3C/svg%3E");

}
.header button:hover{
    background-color: transparent;
    border: none;
}

.hat-image{
    background-image: url('../../images/harry_potter/sortinghat.jpeg');
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.chat{
    display: flex;
    flex-direction: column;
    width: 313px;
    height: 240px;
    overflow-y: scroll;
}

.chatbox{
    position: relative;
    font-size: 14px;
    background-color: #fffd82;
    border-radius: 10px 10px 10px 5px;
    margin: 15px;
    padding: 5px;
    max-width: 60%;
    width: fit-content;
}
.chatbox::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 5px;
    border-width: 7px;
    border-style: solid;
    border-color: #fffd82 transparent transparent transparent;
  }

.user-chatbox{
    position: relative;
    align-self: flex-end;
    font-size: 14px;
    background-color: #1A3956;
    color: white;
    border-radius: 10px 10px 5px 10px;
    margin: 15px;
    padding: 5px;
    max-width: 60%;
    width: fit-content;
}

.user-chatbox::before {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    right: 5px;
    border-width: 7px;
    border-style: solid;
    border-color: #1A3956 transparent transparent transparent;
  }

.buttons{
    display: block;
    margin-top: 5px;
}

button:first-child{
    margin-right: 5px;
}