
.questions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    height: 90px;
    background-color: #ededed;
    border-radius: 0px 0px 10px 10px;
}

.questions div:first-child{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

select{
    flex: 1;    
}

select, input{
    padding: 4px 6px;
    border-radius: 10px;
}

select:first-child{
    margin-right: 5px;
}

input{
    border:1px solid darkslategray;
    margin-right: 5px;
}