.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 25px;
}

.App-link {
  color: #61dafb;
}

.wrapper{
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  padding: 10px 3%;
}

.full-width{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 3%;
}

.sidebar{
  display: flex;
  flex-direction: column;
  position:fixed;
  right: 0px;
}

.outer{
  display: flex;
}

.hat-btn{
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 50px;
  background-color:  #ebc934;
  border-radius: 50%;
  border-color: transparent;
  width: 100px;
  height: 100px;
}

.hidden{
  display: none;
}

@media screen and (min-width: 768px){
  .wrapper{
    width: 78%;
    padding: 10px 3%;
  }
}