.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  background-image: url('./images/harry_potter/rosie-fraser-1L71sPT5XKc-unsplash.jpg');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 25px;
}

.App-header h1{
  font-family: 'Aclonica', sans-serif;
}

.App-link {
  color: #61dafb;
}

.wrapper{
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  justify-content: center;
  /* padding: 10px 3%; */
}

.full-width{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  /* padding: 10px 3%; */
}

.sidebar{
  display: flex;
  flex-direction: column;
  position:fixed;
  right: 0px;
}

.outer{
  display: flex;
  position: relative;
}

.hat-btn{
  position: fixed;
  color: white;
  right: 20px;
  bottom: 20px;
  font-size: 50px;
  background-color:  #ebc934;
  border-radius: 50%;
  border-color: transparent;
  width: 75px;
  height: 75px;
}

.reset-btn{
  position: absolute;
  top: -30px;
  width:fit-content;
  width: 28px;
  height: 27px;
  border: 1px solid white;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7.9999C13 9.33985 12.5515 10.6412 11.7259 11.6966C10.9003 12.752 9.74524 13.5007 8.44472 13.8234C7.1442 14.146 5.7731 14.024 4.54996 13.4769C3.32682 12.9297 2.32203 11.9889 1.69574 10.8043C1.06945 9.61974 0.857696 8.25962 1.09424 6.94071C1.33078 5.62181 2.002 4.42005 3.00092 3.52695C3.99983 2.63386 5.26896 2.10084 6.60601 2.01285C7.94306 1.92486 9.89266 2.69756 11 3.45204L10.3589 4.28019C9.51768 3.70706 7.71638 3.3851 6.70071 3.45194C5.68505 3.51878 4.72098 3.92368 3.96217 4.6021C3.20336 5.28053 2.69348 6.19343 2.51379 7.19531C2.33411 8.19719 2.49496 9.23038 2.97071 10.1302C3.44647 11.0301 4.20974 11.7448 5.13887 12.1604C6.06801 12.576 7.10954 12.6687 8.09746 12.4236C9.08538 12.1785 9.96283 11.6098 10.59 10.8081C11.2171 10.0063 11.5578 9.01777 11.5578 7.9999H13Z' fill='white'/%3E%3Cpath d='M11.8849 4.28019L11.3994 4.39927M11.3994 4.39927L8 5.23296M11.3994 4.39927L11.5184 4.88487M11.3994 4.39927L10.5657 1M13 7.9999C13 9.33985 12.5515 10.6412 11.7259 11.6966C10.9003 12.752 9.74524 13.5007 8.44472 13.8234C7.1442 14.146 5.7731 14.024 4.54996 13.4769C3.32682 12.9297 2.32203 11.9889 1.69574 10.8043C1.06945 9.61974 0.857696 8.25962 1.09424 6.94071C1.33078 5.62181 2.002 4.42005 3.00092 3.52695C3.99983 2.63386 5.26896 2.10084 6.60601 2.01285C7.94306 1.92486 9.89266 2.69756 11 3.45204L10.3589 4.28019C9.51768 3.70706 7.71638 3.3851 6.70071 3.45194C5.68505 3.51878 4.72098 3.92368 3.96217 4.6021C3.20336 5.28053 2.69348 6.19343 2.51379 7.19531C2.33411 8.19719 2.49496 9.23038 2.97071 10.1302C3.44647 11.0301 4.20974 11.7448 5.13887 12.1604C6.06801 12.576 7.10954 12.6687 8.09746 12.4236C9.08538 12.1785 9.96283 11.6098 10.59 10.8081C11.2171 10.0063 11.5578 9.01777 11.5578 7.9999H13Z' stroke='white'/%3E%3C/svg%3E%0A");
}

/* .reset-btn:hover{
  background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7.9999C13 9.33985 12.5515 10.6412 11.7259 11.6966C10.9003 12.752 9.74524 13.5007 8.44472 13.8234C7.1442 14.146 5.7731 14.024 4.54996 13.4769C3.32682 12.9297 2.32203 11.9889 1.69574 10.8043C1.06945 9.61974 0.857696 8.25962 1.09424 6.94071C1.33078 5.62181 2.002 4.42005 3.00092 3.52695C3.99983 2.63386 5.26896 2.10084 6.60601 2.01285C7.94306 1.92486 9.89266 2.69756 11 3.45204L10.3589 4.28019C9.51768 3.70706 7.71638 3.3851 6.70071 3.45194C5.68505 3.51878 4.72098 3.92368 3.96217 4.6021C3.20336 5.28053 2.69348 6.19343 2.51379 7.19531C2.33411 8.19719 2.49496 9.23038 2.97071 10.1302C3.44647 11.0301 4.20974 11.7448 5.13887 12.1604C6.06801 12.576 7.10954 12.6687 8.09746 12.4236C9.08538 12.1785 9.96283 11.6098 10.59 10.8081C11.2171 10.0063 11.5578 9.01777 11.5578 7.9999H13Z' fill='%232F751C'/%3E%3Cpath d='M11.8849 4.28019L11.3994 4.39927M11.3994 4.39927L8 5.23296M11.3994 4.39927L11.5184 4.88487M11.3994 4.39927L10.5657 1M13 7.9999C13 9.33985 12.5515 10.6412 11.7259 11.6966C10.9003 12.752 9.74524 13.5007 8.44472 13.8234C7.1442 14.146 5.7731 14.024 4.54996 13.4769C3.32682 12.9297 2.32203 11.9889 1.69574 10.8043C1.06945 9.61974 0.857696 8.25962 1.09424 6.94071C1.33078 5.62181 2.002 4.42005 3.00092 3.52695C3.99983 2.63386 5.26896 2.10084 6.60601 2.01285C7.94306 1.92486 9.89266 2.69756 11 3.45204L10.3589 4.28019C9.51768 3.70706 7.71638 3.3851 6.70071 3.45194C5.68505 3.51878 4.72098 3.92368 3.96217 4.6021C3.20336 5.28053 2.69348 6.19343 2.51379 7.19531C2.33411 8.19719 2.49496 9.23038 2.97071 10.1302C3.44647 11.0301 4.20974 11.7448 5.13887 12.1604C6.06801 12.576 7.10954 12.6687 8.09746 12.4236C9.08538 12.1785 9.96283 11.6098 10.59 10.8081C11.2171 10.0063 11.5578 9.01777 11.5578 7.9999H13Z' stroke='%232F751C'/%3E%3C/svg%3E%0A");
} */

.hidden{
  display: none;
}

.tooltip .tooltiptext{
  display: none;
}
@media only screen and (min-device-width: 480px) and (max-device-width: 812px) and (orientation: landscape) {
  .sidebar{
    top: 0;
  }
}

@media screen and (min-width: 1440px){
  .wrapper{
    width: 74%;
    padding: 10px 1%;
    justify-content: unset;
  }
  .full-width{
    justify-content: unset;
  }

  .sidebar{
    right: 10px;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    display: inline;
    font-size: 14px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 34px;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
}